* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: #e1cfb6;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(255, 255, 255, 0.03);
  

}

h2 {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Patrick Hand', cursive;
  color: #c79b68;
}

.content p {
  font-family: 'Catamaran', sans-serif;
  margin: 10px;
}
